# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# 自動生成されたファイルやフォルダを無視
app/build/
app/libs/
app/reports/
app/test-results/
app/tmp/
*.jar
*.class
*.bin
